.profile-photo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .profile-photo input {
    display: none;
  }
  
  .profile-photo-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid red;
  }
  