.profile-photo {
    text-align: center;
  }
  
  .profile-photo input[type="file"] {
    display: none;
  }
  
  .profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  